/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.navbar{
  min-height: 100px;
  margin-bottom: 100px;
}

nav.navbar.navbar-default{
  background: #fff;
  border-bottom: 2px solid #2F3238;
  border-radius: 0px;
}
.navbar-default .navbar-nav > li > a.nvli1{
  color: #fff;
}

.navbar-default .navbar-nav > li > a{
  color: #000;
  font-family: 'Lato', sans-serif;
}

.container{
  margin-top: 20px;
}
nav {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    .navbar-brand {
        a {
            color: #2F3238;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .newPost{
      background: #2F3238;

    }
    .signout{
      border: solid 2px #2F3238;
      border-radius: 5px;
    }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
      margin: 10px;
      width: 350px;
      box-shadow: 0 0 5px -1px #2F3238;
      border-radius: 3px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        font-size: 22px;
        margin: 0;
        padding: 25px 10px;
        a {
                color: #474747;
        }
      }
      .user {
        font-size: 12px;
        border-top: 1px solid #EAEAEA;
            padding: 15px;
            margin: 0;
      }
    }
}

#edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}

#pin_show {
    .panel-heading {
        padding: 0;
    }
    .pin_image {
        img {
            max-width: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .panel-body {
        padding: 35px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            color: #868686;
            line-height: 1.75;
            margin: 0;
        }
    }
    .panel-footer {
        padding: 20px 35px;
        p {
            margin: 0;
        }
        .user {
            padding-top: 8px;
        }
        .btn{
          border: none;
          margin-right: 5px;
        }
        .showbtn{
          border: solid 2px rgba(255,  129,  0, 1);
        }
        .showbtn:hover{
          background: rgba(255, 129, 0, 0.66);
          color: #fff;
        }
        .deletebtn{
          border: solid 2px #ff0000
        }
        .deletebtn:hover{
          background: rgba(255, 0, 0, 0.59);
          color: #fff;
        }
    }
}

textarea {
    min-height: 250px;
}


#comments {
  padding-bottom: 4rem;
  width: 50%;
  .comment_count {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
  .comment {
    padding: 2rem 0;
    border-bottom: 1px solid #E9E9E9;
    padding-left: 5%;
    .username {
      font-size: 1.3rem;
      color: #333233;
      margin: 0 0 .5rem 0;
    }
    .content {
      margin: 0;
      color: #969696;
    }
  }
  .comment_content {
    margin-top: 2.5rem;
    textarea {
      width: 100%;
      margin: 1rem 0;
      min-height: 150px;
      border: 1px solid #E4E4E4;
      background: #F8F9FA;
      border-radius: 0.3rem;
    }
  }
}